{% extends "app/layout.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1980, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{title}} </title>
    
</head>
<body>
<section class="top_logs">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/1707_nagan.jpg" alt="Nagan">
            </div>
            <div class="col-md-3">
                <img src="img/1707_kids_imyf.jpg" alt="kids">
            </div>
            <div class="col-md-3">
                <img src="img/1707_flyaga.jpg" alt="flyaga">
            </div>
        </div>
    </div>

</section>
</body>
</html>


        






{% endblock %}
